 body{
	/*padding-top: 60px;*/
} 


/* ==== class for navbar ==== */
.title_navbar {
	color: #000 !important;
	font-size: 17px;
	font-family:'Exo', serif;
	font-weight: bold;
}
ul li a:hover{
	color: red !important;
}
#myNavbar{
	padding-top: 5px;
	padding-bottom: 5px;

}
.logo{
	float: left;
	position: absolute;
	margin-left: 70px;
	padding-right: 0;
}


/* ==== class for >>>part one<<< ==== */
#MainDivOne{
	position: relative;
}
#sliderOnDivOne{
	position: absolute;
	top: 280px;
	color: black;	
}
.imageToDivOne{
	width: 100%;
	filter: brightness(90%);

}
#sliderText{
    font-size: 80px;
    font-family:'Exo', serif;
  	font-style: normal;
  	font-weight: bolder;
}
.mainSliderText{
	color: red;
}
.textBelowSlider{
	font-size: 35px;
	font-family:'Bitter', serif;
	letter-spacing: 2px;
	
}
li a:hover{
	color: white !important;
}

	
/* ==== class for >>>part two<<< ==== */
#partTwo-div1{
	height: 320px;
	padding-top: 60px;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 15px;
	text-align: center;
	/*border-right-style: solid;
	border-color: #000;
	border-width: 1px; */
}
.face1{
	width: 35%;
}
#partTwo-div2{
	padding-left: 5px;
	padding-right: 5px;	
	margin-bottom: 120px;
}
.textToDivTwo{
	font-family:'Exo', serif;
	font-size: 20px;
	text-align: justify;
	padding-top: 40px;
	padding-right: 20px;
	/*text-indent: 1.5em;*/
}
.litera{
	color: red;
	font-weight: bolder;
	font-size: 25px;
}
.zapraszam{
	color: red;
	font-size: 30px;
	text-align: center;
}


/* ==== class for >>>part three<< certyfikaty ==== */
#partThree-div1{
	text-align: center;
	margin-top: 10px;
}
	#partThree-div1:hover{
		z-index: 1;
	}
#partThree-div2{
	text-align: center;
	margin-top: 10px;
}
	#partThree-div2:hover{
		z-index: 1;
	}
#partThree-div3{
	text-align: center;
	margin-top: 10px;
}
	#partThree-div3:hover{
		z-index: 1;
	}
#partThree-div4{
	text-align: center;
	margin-top: 10px;
}
	#partThree-div4:hover{
		z-index: 1;
	}
#partThree-div5{
	text-align: center;
	margin-top: 10px;
}
	#partThree-div5:hover{
		z-index: 1;
	}
#partThree-div6{
	text-align: center;
	margin-top: 10px;
}
	#partThree-div6:hover{
		z-index: 1;
	}
	.cert{
		width: 180px;	
		height: 220px;
		opacity: 0.6;
	}
	.cert:hover{
    -webkit-transition: all 0.6s;
    -moz-transform: scale(1.9);
    -o-transform: scale(1.9);
    -webkit-transform: scale(1.9);
    opacity: 1.1;
}
		
	
/* ==== class for >>part four <<  projekty ==== */
#mojeProjekty{
	color: red;
	font-size: 35px;
	margin-top: 60px;
	margin-bottom: 20px;
	text-align: center;
	font-family:'Exo', serif;
	justify-content: center;	
}

#four{
	padding: 0px 10px 0px 10px;
	margin-bottom: 260px;
	border-top: 2.1px solid red;
	opacity: 0.2;
	
	}
	#four:hover{
	-webkit-transition: all 1.4s;
    opacity: 1.1;
	}

/*========= >> part five <<  kontakt ============= */
#contactLeft{
	background-color: red;
	padding-left: 100px;
	color: #fff;
}
	.textWebImago{
		padding-top: 40px;
		font-size: 20px;
		font-family:'Exo', serif;
	}
	.mail{
		padding-bottom: 5px;
		font-size: 20px;
		font-family:'Exo', serif;
	}
	.tel{
		padding-bottom: 40px;
		font-size: 20px;
		font-family:'Exo', serif;
	}
#contactRight{
	padding-top: 50px;
	background-color: #fff;
	text-align: center;
	/*padding-left: 280px;*/
}
	#contactRight a i{
	font-size: 40px;
	margin-left: 10px;
	color: red;
    }
    #contactRight a i:hover{
    color: black;	
    }




/* ======== media queries ======== */
@media(max-width: 1100px) {
			#sliderOnDivOne{
				top:140px;
			}			
@media(max-width: 995px) {
			.carousel-control{
				display: none;
				
			}
			.logo{
				margin-left: 30px;
			}
			.face1{
				padding-top: 10px;
			}
			#partTwo-div2{
				padding-top: 120px;
			}
}
@media(max-width: 920px){
			#sliderOnDivOne{
				position: relative;
				background-color: #fff;
				top: 40px;
			}
			#sliderText{
				font-size: 20px;
				padding-top: 10px;
				color: #000;
			}
			.textBelowSlider{
				font-size: 15px;	
			}
			.carousel-indicators li{
				border: 1px solid #000;
				display: none;
			}
			#four{
				border: none;
			}
			#contactRight{
				padding-left: 150px;
			}
}
@media(max-width: 890px)(min-width: 770px){
			#partTwo-div2{
				padding-top: 0px;
			}
}				
@media(max-width: 765px){
			.imageToDivOne{
				display: none;
			}
			#sliderOnDivOne{
				padding-top: 120px;
			}
			#partTwo-div2{
				padding-top: 0px;
			}
			.textToDivTwo{
				padding-top: 70px;
			}

}
@media(max-width: 700px){
			.textToDivTwo{
				padding-top: 40px;
			}
}
@media(max-width: 500px){
			#sliderOnDivOne{
				position: relative;
				background-color: #fff;
				top: 40px;
			}
			.textBelowSlider{
				font-size: 15px;
				}
			.logo{
				margin-left: 10px;
			}
			.face1{
				top: 0;
			}
			.textToDivTwo{
				padding-top: 0px;
			}
}

/*#menuDivOne{
	position: absolute;
	top: 70px;
	border-bottom: solid #7FFF00 1px;
	background-color: black;
	opacity: 0.7; */

/*#oferujemy{
	color: #7FFF00;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	padding-left: 10px; 	
}*/