 body{
	padding-top: 59px;
} 

/* ==== class for navbar ==== */
.title_navbar {
	color: #7FFF00 !important;
	font-size: 15px;
	font-family:  verdana, sans-serif;
}
ul li a:hover{
	color: white !important;
}
#myNavbar{
	background-color: black;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* ==== class for part one ==== */
#divOne{
	position: relative;
}

#sliderOnDivOne{
	position: absolute;
	top: 220px;
	color: black;
	height: 200px;
	
}
#sliderText{
    font-size: 55px;
    font-family: 'trebuchet ms';
  	font-style: normal;
  	font-weight: bolder;

}

li a:hover{
	color: white !important;
}

.liMenu{
	background-color: black;
	color: #7FFF00;
	opacity: 0.7;
}
	
/* ==== class for part two ==== */

#partTwo-div1{
	background-color: red;
}
#partTwo-div2{
	background-color: green;
}




/*media queries*/
@media(max-width: 991px) {
	#sliderOnDivOne{
		position: relative;
		background-color: black;
		top: 0;
		height: 100px;
	}
	#sliderText{
		font-size: 25px;
		padding-top: 20px;
	}

}



/*#menuDivOne{
	position: absolute;
	top: 70px;
	border-bottom: solid #7FFF00 1px;
	background-color: black;
	opacity: 0.7; */

/*#oferujemy{
	color: #7FFF00;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	padding-left: 10px; 	
}*/